<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Student Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" routerLink="/app-home">Home</a> -->
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#addStudentModal">Add Student</a></li>
              <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#listStudentModal">Student List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Course
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#addCourseModal">Add Course</a></li>
              <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#listCourseModal">Course List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teacher
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addTeacherModal">Add Teacher</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#listTeacherModal">Teacher List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fee
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addFeeModal">Add Fee</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#listFeeModal">Fee List</a></li>
            </ul>
          </li> -->
          
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search Courses" aria-label="Search"> -->
          <button (click)="logout()" class="btn btn-success">Logout</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 p-0 bg-success bg-gradient">
            <div class="d-flex flex-column align-items-center align-items-sm-start p-1 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <h6 class="ms-1 d-none d-sm-inline text-white">Hello {{student.firstname}} {{student.lastname}}!!</h6>
                            <hr class="m-0" style="border: 1px solid white;">
                        </a>
                        
                    </li>
                    
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link p-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <h6 class="ms-1 d-none d-sm-inline text-white">Profile Details : </h6>
                            <hr class="m-0" style="border: 1px solid white;">
                          </a>
                            
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a  class="nav-link p-0"> <span class="d-none d-sm-inline text-white">Name : {{student.firstname}} {{student.lastname}}</span></a>
                            </li>
                            <li class="w-100">
                              <a class="nav-link p-0"> <span class="d-none d-sm-inline text-white">Age : {{student.age}} </span></a>
                          </li>
  
                            <li>
                                <a  class="nav-link p-0"> <span class="d-none d-sm-inline text-white">Gender : {{student.gender}} </span></a>
                            </li>
                            <li>
                              <a  class="nav-link p-0"> <span class="d-none d-sm-inline text-white">Mail ID : {{student.email}} </span></a>
                          </li>
                            <li>
                              <a  class="nav-link p-0"> <span class="d-none d-sm-inline text-white">Phone : {{student.phone}} </span></a>
                          </li>
                          <li>
                            <a  class="nav-link p-0"> <span class="d-none d-sm-inline text-white">Trainer : {{teacher.firstname}} {{teacher.lastname}} </span></a>
                        </li>
                        <li>
                          <button type="button" data-bs-toggle="modal" data-bs-target="#updateStudentModal" class="btn btn-info">Update Profile</button>
                        </li>
                        </ul>
                    </li>
                    
                </ul>
                
                <hr>
                
               
            </div>
        </div>
        <div class="col py-3" style="margin-top: 2rem;">
            <div class="row">
              <div class="col-xl">
                <div class="container pt-5">
                  <div class="col-xl mx-auto">
                      <div class="card shadow">
                          <div class="card-header bg-success bg-gradient">
                              <h3 class="text-white">Course Details</h3>
                          </div>
                      </div>
                      <div class="card-body mt-3">
                          <h6>Course Name : {{course.courseName}}</h6>
                          <h6>Date of Registration : {{student.registerDate | date}}</h6>
                          <h6>Course Duration : {{course.course_duration_months}} month(s)</h6>
                          <h6>Fee Amount : {{fee.feeAmount}}</h6>
                      </div>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl">
                <div class="container pt-5">
                  <div class="col-xl mx-auto">
                      <div class="card shadow">
                          <div class="card-header bg-success bg-gradient">
                              <h3 class="text-white">Trainer Details</h3>
                          </div>
                      </div>
                      <div class="card-body mt-3">
                        <h6>Trainer Name : {{teacher.firstname}} {{teacher.lastname}}</h6>
                          <h6>Contact Email : {{teacher.email}}</h6>
                          <h6>Contact Phone : {{teacher.phone}}</h6>
                      </div>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>


  <!-- UPDATE STUDENT MODAL -->
  <div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="updateStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStudentModalLabel">Update Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <div class="container">
            <div class="col-xl mx-auto m-3">
                <div class="">
                    <div class="">
                        <form #userForm="ngForm" (onSubmit)="userForm.value">
                            <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Student ID</span>
                              </div>
                              <input type="number" class="form-control" [(ngModel)]="student.studentId" name="studentId" placeholder="Enter First Name" readonly>
                            </div>

                            <article class="text-danger mx-3" *ngIf="firstname.errors?.required && firstname.touched">Enter First Name</article>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">First Name 
                                      <span class="text-danger" *ngIf="firstname.errors?.required && firstname.untouched">*</span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" #firstname="ngModel" required [(ngModel)]="student.firstname" name="firstname" placeholder="Enter First Name">
                                
                            </div>

                            <article class="text-danger mx-3" *ngIf="lastname.errors?.required && lastname.touched">Enter Last Name</article>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Last Name 
                                      <span class="text-danger" *ngIf="lastname.errors?.required && lastname.untouched">*</span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" #lastname="ngModel" required [(ngModel)]="student.lastname" name="lastname" placeholder="Enter Last Name">
                                
                            </div>

                            <article class="text-danger mx-3" *ngIf="age.errors?.required && age.touched">Enter Age</article>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age 
                                      <span class="text-danger" *ngIf="age.errors?.required && age.untouched">*</span>
                                    </span>
                                </div>
                                <input type="number" class="form-control" required #age="ngModel" [(ngModel)]="student.age" name="age" placeholder="Enter Age">
                                
                            </div>
                            
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Gender 
                                    <span class="text-danger" *ngIf="gender.errors?.required && gender.untouched">*</span>
                                  </span>
                                </div>
                                <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" required #gender="ngModel" [(ngModel)]="student.gender" value="Male" name="gender" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Male
                                    </label>
                                </div>
                                <div class="form-check" style="margin-left: 1rem;">
                                    <input class="form-check-input" type="radio" required #gender="ngModel" [(ngModel)]="student.gender" value="Female" name="gender" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Female
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left: 1rem;">
                                  <input class="form-check-input" type="radio" required #gender="ngModel" [(ngModel)]="student.gender" value="Others" name="gender" id="flexRadioDefault3">
                                  <label class="form-check-label" for="flexRadioDefault3">
                                    Others
                                  </label>
                              </div>
                                
                            </div>
        
                            <article class="text-danger mx-3" *ngIf="phone.errors?.pattern && phone.touched">Enter Valid Phone Number</article>
                            <article class="text-danger mx-3" *ngIf="phone.errors?.required && phone.touched">Enter Phone Number</article>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone 
                                      <span class="text-danger" *ngIf="phone.errors?.required && phone.untouched">*</span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" required pattern="[6-9]{1}[0-9]{9}" #phone="ngModel" [(ngModel)]="student.phone" name="phone" placeholder="Enter Phone Number">
                                
                            </div>
        
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email ID</span>
                                </div>
                                <input type="email" class="form-control" [(ngModel)]="student.email" name="email" placeholder="Enter Mail Address" readonly>
                                
                            </div>

                            <article class="text-danger mx-3" *ngIf="password.errors?.pattern && password.touched">Enter a strong Password(min 8 chars, atleast one Caps,small and number)</article>
                            <article class="text-danger mx-3" *ngIf="password.errors?.required && password.touched">Enter password</article>        
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password 
                                      <span class="text-danger" *ngIf="password.errors?.required && password.untouched">*</span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel" [(ngModel)]="student.password" name="password" placeholder="Enter Password">
                                
                            </div>
                            <!-- <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Course Selected</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="student.courseName" name="courseName" placeholder="Enter Course">
                              
                            </div> -->
                            <!-- <div class="input-group form-group p-2">
                              <select  class="form-select" [(ngModel)]="student.course" name="courseId" aria-label="CourseSelect">
                                <option selected>Select Courses</option>
                                <option *ngFor="let c of courses" [ngValue]="c">{{c.courseName}}</option>
                              </select>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" [disabled]="userForm.invalid" (click)="updateStudent()" class="btn btn-success" data-bs-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>
