

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/app-home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="getStudents(); getCourses();" data-bs-toggle="modal" data-bs-target="#addStudentModal">Add Student</a></li>
              <li><a class="dropdown-item" id="openStudentList" (click)="getStudents()" data-bs-toggle="modal" data-bs-target="#listStudentModal">Student List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Course
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="getTeachers(); getFees();" data-bs-toggle="modal" data-bs-target="#addCourseModal">Add Course</a></li>
              <li><a class="dropdown-item" id="openCourseList" (click)="getCourses()" data-bs-toggle="modal" data-bs-target="#listCourseModal">Course List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teacher
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addTeacherModal">Add Teacher</a></li>
              <li><a class="dropdown-item" id="openTeacherList" (click)="getTeachers()" data-bs-toggle="modal" data-bs-target="#listTeacherModal">Teacher List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fee
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addFeeModal">Add Fee</a></li>
              <li><a class="dropdown-item" id="openFeeList" (click)="getFees()" data-bs-toggle="modal" data-bs-target="#listFeeModal">Fee List</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search Courses" aria-label="Search">
          <button class="btn btn-success">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- ADD STUDENT MODAL -->
  <div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <div class="container">
            <div class="col-xl mx-auto m-3">
                <div class="">
                    <div class="">
                        <form>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">First Name</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="studentDetails.firstname" name="firstname" placeholder="Enter First Name">
                                
                            </div>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Last Name</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="studentDetails.lastname" name="lastname" placeholder="Enter Last Name">
                                
                            </div>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                <input type="number" class="form-control" [(ngModel)]="studentDetails.age" name="age" placeholder="Enter Age">
                                
                            </div>
                            
                            <div class="input-group form-group p-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" [(ngModel)]="studentDetails.gender" value="Male" name="gender" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Male
                                    </label>
                                </div>
                                <div class="form-check" style="margin-left: 1rem;">
                                    <input class="form-check-input" type="radio" [(ngModel)]="studentDetails.gender" value="Female" name="gender" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Female
                                    </label>
                                </div>
                                
                            </div>
        
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="studentDetails.phone" name="phone" placeholder="Enter Phone Number">
                                
                            </div>
        
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email ID</span>
                                </div>
                                <input type="email" class="form-control" [(ngModel)]="studentDetails.email" name="email" placeholder="Enter Mail Address">
                                
                            </div>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="studentDetails.password" name="password" placeholder="Enter Password">
                                
                            </div>
                            <div class="input-group form-group p-2">
                              <select  class="form-select" [(ngModel)]="studentDetails.course" name="courseId" aria-label="CourseSelect">
                                <option selected [ngValue]="">Select a Course</option>
                                <option *ngFor="let c of courses" [ngValue]="c">{{c.courseName}}</option>
                              </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="addStudent()" class="btn btn-success" data-bs-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>


  <!-- UPDATE STUDENT MODAL -->
  <div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="updateStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStudentModalLabel">Update Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <div class="container">
            <div class="col-xl mx-auto m-3">
                <div class="">
                    <div class="">
                        <form>
                            <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Student ID</span>
                              </div>
                              <input type="number" class="form-control" [(ngModel)]="student.studentId" name="studentId" placeholder="Enter First Name">
                            </div>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">First Name</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="student.firstname" name="firstname" placeholder="Enter First Name">
                                
                            </div>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Last Name</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="student.lastname" name="lastname" placeholder="Enter Last Name">
                                
                            </div>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                <input type="number" class="form-control" [(ngModel)]="student.age" name="age" placeholder="Enter Age">
                                
                            </div>
                            
                            <div class="input-group form-group p-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" [(ngModel)]="student.gender" value="Male" name="gender" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Male
                                    </label>
                                </div>
                                <div class="form-check" style="margin-left: 1rem;">
                                    <input class="form-check-input" type="radio" [(ngModel)]="student.gender" value="Female" name="gender" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Female
                                    </label>
                                </div>
                                
                            </div>
        
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="student.phone" name="phone" placeholder="Enter Phone Number">
                                
                            </div>
        
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email ID</span>
                                </div>
                                <input type="email" class="form-control" [(ngModel)]="student.email" name="email" placeholder="Enter Mail Address">
                                
                            </div>
                            <div class="input-group form-group p-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="student.password" name="password" placeholder="Enter Password">
                                
                            </div>
                            <!-- <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Course Selected</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="student.courseName" name="courseName" placeholder="Enter Course">
                              
                            </div> -->
                            <div class="input-group form-group p-2">
                              <select  class="form-select" [(ngModel)]="student.course" name="courseId" aria-label="CourseSelect">
                                <option selected>Select Courses</option>
                                <option *ngFor="let c of courses" [ngValue]="c">{{c.courseName}}</option>
                              </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="updateStudent()" class="btn btn-success" data-bs-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>



  <!-- LIST STUDENT MODAL -->
  <div class="modal fade" id="listStudentModal" tabindex="-1" aria-labelledby="listStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1200px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="listStudentModalLabel"> Student List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <div class="container">
            <div class="col-xl mx-auto m-2">
                <!-- <div class="card shadow">
                    <div class="card-body">
                       
                    </div>
                </div> -->
                <table class="table table-bordered mx-auto"  width = "80%">
                  <tr class="table-active">
                     <th>Student ID</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>Gender</th>
                     <th>Age</th>
                     <th>Email</th>
                     <th>Password</th>
                     <th>Course ID</th>
                     <th colspan="2">Action</th>
                  </tr>
                  
                  
                     <tr *ngFor="let s of students">
                        <td>{{s.studentId}}</td>
                        <td>{{s.firstname}}</td>
                        <td>{{s.lastname}}</td>
                        <td>{{s.gender}}</td>
                        <td>{{s.age}}</td>
                        <td>{{s.email}}</td>
                        <td>{{s.password}}</td>
                        <td>{{s.course.courseId}}</td>
                        <td> <button class="btn btn-danger bg-danger" (click)="deleteStudent(s.studentId)" data-bs-dismiss="modal">DELETE</button></td>
                        <td> <button class="btn btn-info bg-info" (click)="getStudent(s.studentId); getCourses();" data-bs-toggle="modal" data-bs-target="#updateStudentModal" data-bs-dismiss="modal">UPDATE</button></td>
                     </tr>
                  
               </table>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>





<!-- -----------------------------------------COURSE MODALS------------------------------------------------ -->
<!-- -----------------------------------------COURSE MODALS------------------------------------------------ -->
<!-- -----------------------------------------COURSE MODALS------------------------------------------------ -->
<!-- -----------------------------------------COURSE MODALS------------------------------------------------ -->
<!-- -----------------------------------------COURSE MODALS------------------------------------------------ -->





 <!-- ADD COURSE MODAL -->
 <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCourseModalLabel">Add Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-3">
              <div class="">
                  <div class="">
                      <form>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Course Name</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="courseDetails.courseName" name="courseName" placeholder="Enter Course Name">
                              
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Course Duration(Months)</span>
                              </div>
                              <input type="number" class="form-control" [(ngModel)]="courseDetails.course_duration_months" name="course_duration_months" placeholder="Duration of Course">
                              
                          </div>

                          <div class="input-group form-group p-2">
                            <select class="form-select" [(ngModel)]="courseDetails.teacher.teacherId" name="teacherId" aria-label="TeacherSelect">
                              <option selected>Select a Teacher</option>
                              <option *ngFor="let t of teachers" [ngValue]="t.teacherId">{{t.firstname}} {{t.lastname}}</option>
                            </select>
                          </div>

                          <div class="input-group form-group p-2">
                            <select  class="form-select" [(ngModel)]="courseDetails.fee" name="feeId" aria-label="FeeSelect">
                              <option selected>Select Fee Amount</option>
                              <option *ngFor="let f of fees" [ngValue]="f">Rs. {{f.feeAmount}}</option>
                            </select>
                          </div>
                          
                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="addCourse()" class="btn btn-success" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>


<!-- UPDATE COURSE MODAL -->
<div class="modal fade" id="updateCourseModal" tabindex="-1" aria-labelledby="updateCourseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateStudentModalLabel">Update Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-3">
              <div class="">
                  <div class="">
                      <form>
                        <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text">Course ID</span>
                          </div>
                          <input type="number" class="form-control" [(ngModel)]="course.courseId" name="courseId" placeholder="Enter Course Name">
                          
                        </div>
                        <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text">Course Name</span>
                          </div>
                          <input type="text" class="form-control" [(ngModel)]="course.courseName" name="courseName" placeholder="Enter Course Name">
                          
                        </div>
                        <div class="input-group form-group p-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Course Duration(Months)</span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="course.course_duration_months" name="course_duration_months" placeholder="Duration of Course">
                            
                        </div>

                        <div class="input-group form-group p-2">
                          <select class="form-select" [(ngModel)]="course.teacher" name="teacherId"  aria-label="TeacherSelect">
                            <option selected>Select a Teacher</option>
                            <option *ngFor="let c of teachers" [ngValue]="c">{{c.firstname}} {{c.lastname}}</option>
                          </select>
                        </div>

                        <div class="input-group form-group p-2">
                          <select class="form-select" [(ngModel)]="course.fee" name="feeId" aria-label="FeeSelect">
                            <option selected>Select Fee Amount</option>
                            <option *ngFor="let c of fees" [ngValue]="c">Rs. {{c.feeAmount}}</option>
                          </select>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateCourse()" class="btn btn-success"  data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- LIST COURSE MODAL -->
<div class="modal fade" id="listCourseModal" tabindex="-1" aria-labelledby="listCourseModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 1200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listCourseModalLabel"> Course List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-2">
              <!-- <div class="card shadow">
                  <div class="card-body">
                     
                  </div>
              </div> -->
              <table class="table table-bordered mx-auto"  width = "80%">
                <tr class="table-active">
                   <th>Course ID</th>
                   <th>Course Name</th>
                   <th>Course Duration(Months)</th>
                   <th>Fee ID</th>
                   <th>Teacher ID</th>
                   <th colspan="2">Action</th>
                </tr>
                
                
                   <tr *ngFor="let c of courses">
                      <td>{{c.courseId}}</td>
                      <td>{{c.courseName}}</td>
                      <td>{{c.course_duration_months}}</td>
                      <td>{{c.fee.feeId}}</td>
                      <td>{{c.teacher.teacherId}}</td>
                      <td> <button class="btn btn-danger bg-danger" (click)="deleteCourse(c.courseId)" data-bs-toggle="modal" data-bs-dismiss="modal">DELETE</button></td>
                      <td> <button class="btn btn-info bg-info" (click)="getCourse(c.courseId); getTeachers(); getFees();" data-bs-toggle="modal" data-bs-target="#updateCourseModal" data-bs-dismiss="modal">UPDATE</button></td>
                   </tr>
                
             </table>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>











<!-- ---------------------------------------------TEACHER MODALS------------------------------------------------ -->
<!-- ---------------------------------------------TEACHER MODALS------------------------------------------------ -->
<!-- ---------------------------------------------TEACHER MODALS------------------------------------------------ -->
<!-- ---------------------------------------------TEACHER MODALS------------------------------------------------ -->
<!-- ---------------------------------------------TEACHER MODALS----------------------------------------------- -->
<!-- ---------------------------------------------TEACHER MODALS------------------------------------------------ -->
<!-- ---------------------------------------------TEACHER MODALS------------------------------------------------ -->
<!-- ---------------------------------------------TEACHER MODALS------------------------------------------------ -->




<!-- ADD TEACHER MODAL -->
<div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTeacherModalLabel">Add Teacher</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-3">
              <div class="">
                  <div class="">
                      <form>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">First Name</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="teacherDetails.firstname" name="firstname" placeholder="Enter First Name">
                              
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Last Name</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="teacherDetails.lastname" name="lastname" placeholder="Enter Last Name">
                              
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Age</span>
                              </div>
                              <input type="number" class="form-control" [(ngModel)]="teacherDetails.age" name="age" placeholder="Enter Age">
                              
                          </div>
                          
                          <div class="input-group form-group p-2">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" [(ngModel)]="teacherDetails.gender" value="Male" name="gender" id="flexRadioDefault1">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Male
                                  </label>
                              </div>
                              <div class="form-check" style="margin-left: 1rem;">
                                  <input class="form-check-input" type="radio" [(ngModel)]="teacherDetails.gender" value="Female" name="gender" id="flexRadioDefault2">
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    Female
                                  </label>
                              </div>
                              
                          </div>
      
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Phone</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="teacherDetails.phone" name="phone" placeholder="Enter Phone Number">
                              
                          </div>
      
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Email ID</span>
                              </div>
                              <input type="email" class="form-control" [(ngModel)]="teacherDetails.email" name="email" placeholder="Enter Mail Address">
                              
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Password</span>
                              </div>
                              <input type="password" class="form-control" [(ngModel)]="teacherDetails.password" name="password" placeholder="Enter Password">
                              
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="addTeacher()" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>


<!-- UPDATE TEACHER MODAL -->
<div class="modal fade" id="updateTeacherModal" tabindex="-1" aria-labelledby="updateTeacherModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateTeacherModalLabel">Update Teacher</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-3">
              <div class="">
                  <div class="">
                      <form>
                          <div class="input-group form-group p-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Teacher ID</span>
                            </div>
                            <input type="number" [(ngModel)]="teacher.teacherId" name="teacherId" class="form-control" placeholder="Enter Teacher ID">
                            
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">First Name</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="teacher.firstname" name="firstname" placeholder="Enter First Name">
                              
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Last Name</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="teacher.lastname" name="lastname" placeholder="Enter Last Name">
                              
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Age</span>
                              </div>
                              <input type="number" class="form-control" [(ngModel)]="teacher.age" name="age" placeholder="Enter Age">
                              
                          </div>
                          
                          <div class="input-group form-group p-2">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" [(ngModel)]="teacher.gender" value="Male" name="gender" id="flexRadioDefault1">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Male
                                  </label>
                              </div>
                              <div class="form-check" style="margin-left: 1rem;">
                                  <input class="form-check-input" type="radio" [(ngModel)]="teacher.gender" value="Female" name="gender" id="flexRadioDefault2">
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    Female
                                  </label>
                              </div>
                              
                          </div>
      
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Phone</span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="teacher.phone" name="phone" placeholder="Enter Phone Number">
                              
                          </div>
      
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Email ID</span>
                              </div>
                              <input type="email" class="form-control" [(ngModel)]="teacher.email" name="email" placeholder="Enter Mail Address">
                              
                          </div>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Password</span>
                              </div>
                              <input type="password" class="form-control" [(ngModel)]="teacher.password" name="password" placeholder="Enter Password">
                              
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateTeacher()" class="btn btn-success" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>



<!-- LIST TEACHER MODAL -->
<div class="modal fade" id="listTeacherModal" tabindex="-1" aria-labelledby="listTeacherModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 1200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listTeacherModalLabel"> Teacher List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-2">
              <!-- <div class="card shadow">
                  <div class="card-body">
                     
                  </div>
              </div> -->
              <table class="table table-bordered mx-auto"  width = "80%">
                <tr class="table-active">
                   <th>Teacher ID</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Gender</th>
                   <th>Age</th>
                   <th>Phone</th>
                   <th>Email</th>
                   <th>Password</th>
                   <th colspan="2">Action</th>
                </tr>
                
                
                   <tr *ngFor="let t of teachers">
                      <td>{{t.teacherId}}</td>
                      <td>{{t.firstname}}</td>
                      <td>{{t.lastname}}</td>
                      <td>{{t.gender}}</td>
                      <td>{{t.age}}</td>
                      <td>{{t.phone}}</td>
                      <td>{{t.email}}</td>
                      <td>{{t.password}}</td>
                      <td> <button type="button" class="btn btn-danger bg-danger" (click)="deleteTeacher(t.teacherId)" data-bs-dismiss="modal" >DELETE</button></td>
                      <td> <button type="button" class="btn btn-info bg-info" (click)="getTeacher(t.teacherId)" data-bs-toggle="modal" data-bs-target="#updateTeacherModal" data-bs-dismiss="modal">UPDATE</button></td>
                   </tr>
                
             </table>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->
<!-- ------------------------------------------FEE MODALS---------------------------------------------------- -->





 <!-- ADD FEE MODAL -->
 <div class="modal fade" id="addFeeModal" tabindex="-1" aria-labelledby="addFeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFeeModalLabel">Add Fee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-3">
              <div class="">
                  <div class="">
                      <form>
                          <div class="input-group form-group p-2">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Fee Amount</span>
                              </div>
                              <input type="number" class="form-control" [(ngModel)]="feeDetails.feeAmount" name="feeAmount" placeholder="Enter Fee Amount">
                              
                          </div>
                          <div class="input-group form-group p-2">
                            <select class="form-select" [(ngModel)]="feeDetails.paymentMode" name="paymentMode" aria-label="PaymentModeSelect">
                              <option selected>Select Payment Mode</option>
                              <option value="UPI">UPI</option>
                              <option value="NET BANKING">NET BANKING</option>
                              <option value="CREDIT/DEBIT CARD">CREDIT/DEBIT CARD</option>
                            </select>
                          </div>
                          
                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="addFee()" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>


<!-- UPDATE FEE MODAL -->
<div class="modal fade" id="updateFeeModal" tabindex="-1" aria-labelledby="updateFeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateFeeModalLabel">Update Fee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-3">
              <div class="">
                  <div class="">
                      <form>
                        <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text">Fee ID</span>
                          </div>
                          <input type="number" [(ngModel)]="fee.feeId" name="feeId" class="form-control" placeholder="Enter Fee ID">
                          
                        </div>
                        <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text">Fee Amount</span>
                          </div>
                          <input type="number" class="form-control" [(ngModel)]="fee.feeAmount" name="feeAmount" placeholder="Enter Fee Amount">
                          
                        </div>
                        <div class="input-group form-group p-2">
                          <select class="form-select" [(ngModel)]="fee.paymentMode" name="paymentMode" aria-label="PaymentModeSelect">
                            <option selected>Select Payment Mode</option>
                            <option value="UPI">UPI</option>
                            <option value="NET BANKING">NET BANKING</option>
                            <option value="CREDIT/DEBIT CARD">CREDIT/DEBIT CARD</option>
                          </select>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="updateFee()"  data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- LIST FEE MODAL -->
<div class="modal fade" id="listFeeModal" tabindex="-1" aria-labelledby="listFeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 1200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listFeeModalLabel"> Fee List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <div class="container">
          <div class="col-xl mx-auto m-2">
              <!-- <div class="card shadow">
                  <div class="card-body">
                     
                  </div>
              </div> -->
              <table class="table table-bordered mx-auto"  width = "80%">
                <tr class="table-active">
                   <th>Fee ID</th>
                   <th>Fee Amount</th>
                   <th>Payment Mode</th>
                   <th colspan="2">Action</th>
                </tr>
                
                
                   <tr *ngFor="let f of fees">
                      <td>{{f.feeId}}</td>
                      <td>{{f.feeAmount}}</td>
                      <td>{{f.paymentMode}}</td>
                      <td> <button class="btn btn-danger bg-danger" data-bs-toggle="modal" (click)="deleteFee(f.feeId)" data-bs-dismiss="modal">DELETE</button></td>
                      <td> <button class="btn btn-info bg-info" (click)="getFee(f.feeId)" data-bs-toggle="modal" data-bs-target="#updateFeeModal" data-bs-dismiss="modal">UPDATE</button></td>
                   </tr>
                
             </table>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>














  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-success bg-gradient">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-white">Sub Menu</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/emplist" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">1. Employee List</span></a>
                            </li>
                            <li class="w-100">
                              <a href="/empnamelist" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">2. Employee Names</span></a>
                          </li>
  
                            <li>
                                <a href="/aboutus" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">3. About Us</span></a>
                            </li>
                            <li>
                              <a href="/empcreate" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">4. Add Employee</span></a>
                          </li>
                            <li>
                              <a href="/contactus" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">5. Contact Us</span></a>
                          </li>
                        </ul>
                    </li>
                    
                </ul>
                <hr>
               
            </div>
        </div>
        <div class="col py-3" style="margin-top: 10rem;">
            <div class="row m-3 mt-5">
                <div class="col-xl-6">
                    <div class="card border-left-primary bg-success bg-gradient shadow h-100 py-2" data-bs-toggle="modal" data-bs-target="#studentCRUDModal">
                        <div class="card-body text-center">
                           
                                <h2 class="text-white">Student</h2>
                           
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6">
                    <div class="card border-left-primary bg-success bg-gradient shadow h-100 py-2" data-bs-toggle="modal" data-bs-target="#courseDetailsModal">
                        <div class="card-body text-center">
                            <h2 class="text-white">Course</h2>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row m-3">
                <div class="col-xl-6">
                    <div class="card border-left-primary bg-success bg-gradient shadow h-100 py-2" data-bs-toggle="modal" data-bs-target="#courseDetailsModal">
                        <div class="card-body text-center">
                            <h2 class="text-white">Teacher</h2>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6">
                    <div class="card border-left-primary bg-success bg-gradient shadow h-100 py-2" data-bs-toggle="modal" data-bs-target="#courseDetailsModal">
                        <div class="card-body text-center">
                            <h2 class="text-white">Fee</h2>
                        </div>
                    </div>
                </div>
            
                
            </div>
        </div>
    </div>
  </div>




