<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SMS Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/app-home">Home</a>
          </li>
           <li>
            <a class="nav-link" routerLink="/app-adminlogin">Admin</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" routerLink="/app-studentregister">Register for Course</a></li> -->
              <li><a class="dropdown-item" routerLink="/app-studentlogin">Student Login</a></li>
            </ul>
          </li>
          
          <li>  
            <a class="nav-link" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact us</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search Courses" aria-label="Search">
          <button class="btn btn-success">Search</button>
        </form>
      </div>
    </div>
  </nav>    
<div class="container pt-5">
    <div class="col-xl-6 mx-auto m-5">
        <div class="card shadow">
            <div class="card-header bg-success bg-gradient text-center">
                <h3 class="text-white">Student Register</h3>
                <!-- <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-google-plus"></i></span>
                    <span><i class="fab fa-facebook"></i></span>
                    <span><i class="fab fa-linkedin"></i></span>
                </div> -->
            </div>
            <div class="card-body mt-3">
                <form #userForm="ngForm" (onSubmit)="userForm.value">
                    <article class="text-danger mx-3" *ngIf="firstname.errors?.required && firstname.touched">Enter First Name</article>
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First Name 
                              <span class="text-danger" *ngIf="firstname.errors?.required && firstname.untouched">*</span>
                            </span>
                            
                        </div>
                        <input type="text" class="form-control" id="firstname" #firstname="ngModel" required [(ngModel)]="studentDetails.firstname" name="firstname" placeholder="Enter First Name">
                        
                    </div>
                    <!-- <div  class="text-danger" *ngIf="firstname.errors?.required && firstname.untouched">
                      *
                    </div> -->
                    <article class="text-danger mx-3" *ngIf="lastname.errors?.required && lastname.touched">Enter Last Name</article>
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Last Name 
                              <span class="text-danger" *ngIf="lastname.errors?.required && lastname.untouched">*</span>
                            </span>
                        </div>
                        <input type="text" class="form-control" #lastname="ngModel" required [(ngModel)]="studentDetails.lastname" name="lastname" placeholder="Enter Last Name">
                        
                    </div>

                    <article class="text-danger mx-3" *ngIf="age.errors?.required && age.touched">Enter Age</article>
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Age 
                              <span class="text-danger" *ngIf="age.errors?.required && age.untouched">*</span>
                            </span>
                        </div>
                        <input type="number" class="form-control" required #age="ngModel" [(ngModel)]="studentDetails.age" name="age" placeholder="Enter Age">
                        
                    </div>
                    
                    
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Gender 
                            <span class="text-danger" *ngIf="gender.errors?.required && gender.untouched">*</span>
                          </span>
                        </div>
                        <div class="form-check mx-3">
                            <input class="form-check-input" required type="radio" #gender="ngModel" [(ngModel)]="studentDetails.gender" value="Male" name="gender" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Male
                            </label>
                        </div>
                        <div class="form-check" style="margin-left: 1rem;">
                            <input class="form-check-input" required type="radio" #gender="ngModel" [(ngModel)]="studentDetails.gender" value="Female" name="gender" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                              Female
                            </label>
                        </div>
                        <div class="form-check" style="margin-left: 1rem;">
                          <input class="form-check-input" required type="radio" #gender="ngModel" [(ngModel)]="studentDetails.gender" value="Others" name="gender" id="flexRadioDefault3">
                          <label class="form-check-label" for="flexRadioDefault3">
                            Others
                          </label>
                      </div>
                        
                    </div>

                    <article class="text-danger mx-3" *ngIf="dor.errors?.required && dor.touched">Enter Date</article>
                    <div class="input-group form-group p-2">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Date of Registration 
                            <span class="text-danger" *ngIf="dor.errors?.required && dor.untouched">*</span>
                          </span>
                      </div>
                      <input type="date" id="date" min="{{myDate | date:'yyyy-MM-dd' }}" max="{{myDate | date:'yyyy-MM-dd' }}" class="form-control" required #dor="ngModel" [(ngModel)]="studentDetails.registerDate" name="registerDate" placeholder="Enter Password">

                    </div>

                    <article class="text-danger mx-3" *ngIf="phone.errors?.pattern && phone.touched">Enter Valid Phone Number</article>
                    <article class="text-danger mx-3" *ngIf="phone.errors?.required && phone.touched">Enter Phone Number</article>
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone 
                              <span class="text-danger" *ngIf="phone.errors?.required && phone.untouched">*</span>
                            </span>
                        </div>
                        <input type="text" class="form-control" required pattern="[6-9]{1}[0-9]{9}" #phone="ngModel" [(ngModel)]="studentDetails.phone" name="phone" placeholder="Enter Phone Number">
                        
                    </div>

                    <article class="text-danger mx-3" *ngIf="email.errors?.pattern && email.touched">Enter Valid Email ID</article>
                    <article class="text-danger mx-3" *ngIf="email.errors?.required && email.touched">Enter Email ID</article>
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email ID 
                              <span class="text-danger" *ngIf="email.errors?.required && email.untouched">*</span>
                            </span>
                        </div>
                        <input type="email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" [(ngModel)]="studentDetails.email" name="email" placeholder="Enter Mail Address">
                        
                    </div>

                    <article class="text-danger mx-3" *ngIf="password.errors?.pattern && password.touched">Enter a strong Password(min 8 chars, atleast one Caps,small and number)</article>
                    <article class="text-danger mx-3" *ngIf="password.errors?.required && password.touched">Enter password</article>
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password 
                              <span class="text-danger" *ngIf="password.errors?.required && password.untouched">*</span>
                            </span>
                            
                        </div>
                        <input type="text" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel" [(ngModel)]="studentDetails.password" name="password" placeholder="Enter Password">
                        
                    </div>

                    <article class="text-danger mx-3" *ngIf="selectcourse.errors?.required && selectcourse.touched">Select a Course</article>
                    <div class="input-group form-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Selected Course 
                              <span class="text-danger" *ngIf="selectcourse.errors?.required && selectcourse.untouched">*</span>
                            </span>
                        </div>
                      <select  class="form-select" ng-required="true" #selectcourse="ngModel" [(ngModel)]="studentDetails.course" name="courseId" aria-label="CourseSelect">
                        <!-- <option selected [ngValue]="">Select a Course</option> -->
                        <option [ngValue]="course">{{course.courseName}}</option>
                      </select>
                      
                    </div>

                    <div class="form-group text-center mt-3">
                        <button (click)="addStudent()" [disabled]="userForm.invalid" class="btn btn-success col-xl-6" >Register</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <button class="btn btn-success col-xl-6" routerLink="/app-studentlogin">Go to LOGIN</button>
                </div>
            </div>
        </div>
    </div>
</div>

