<p>studentlogin works!</p>
<div class="col">
    <div class="container">
      <div class="col-xl-6 mx-auto mt-5">
          <div class="card shadow">
              <div class="card-header bg-success bg-gradient">
                  <h3 class="text-white">Student Login</h3>
                  <div class="d-flex justify-content-end social_icon">
                      <span><i class="fab fa-google-plus"></i></span>
                      <span><i class="fab fa-facebook"></i></span>
                      <span><i class="fab fa-linkedin"></i></span>
                  </div>
              </div>
              <div class="card-body mt-3">
                  <form action="register" method="post">
                      
                      <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text p-3"><i class="fa fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" name="studentEmail" placeholder="Enter Your Email ID">
                          
                      </div>
                      
                      <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text p-3"><i class="fa fa-key"></i></span>
                          </div>
                          <input type="text" class="form-control" name="studentPassword" placeholder="Enter Your Password">
                          
                      </div>
                      
                      
                      <div class="form-group text-center mt-3">
                         <button class="btn btn-success col-xl-6" >Login</button>
    
                      </div>
                      
                      
                  </form>
                  <!-- <div class="form-group text-center mt-3">
                         <a href="login"><button class="btn btn-success col-xl-6" >Login</button></a>
    
                      </div> -->
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="#">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
              </div>
              
          </div>
      </div>
    </div>
</div>
