<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SMS Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/app-home">Home</a>
          </li>
           <li>
            <a class="nav-link" routerLink="/app-adminlogin">Admin</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" routerLink="/app-studentregister">Register for Course</a></li> -->
              <li><a class="dropdown-item" routerLink="/app-studentlogin">Student Login</a></li>
            </ul>
          </li>
          
          <li>  
            <a class="nav-link" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact us</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search Courses" aria-label="Search">
          <button class="btn btn-success">Search</button>
        </form>
      </div>
    </div>
  </nav>
<div class="col">
    <div class="container pt-5">
      <div class="col-xl-6 mx-auto mt-5">
          <div class="card shadow">
              <div class="card-header bg-success bg-gradient">
                  <h3 class="text-white">Student Login</h3>
                  <div class="d-flex justify-content-end social_icon">
                      <span><i class="fab fa-google-plus"></i></span>
                      <span><i class="fab fa-facebook"></i></span>
                      <span><i class="fab fa-linkedin"></i></span>
                  </div>
              </div>
              <div class="card-body mt-3">
                  <form #userForm="ngForm" (onSubmit)="userForm.value">
                      
                    
                    <article class="text-danger mx-3" *ngIf="emailid.errors?.pattern && emailid.touched">Enter Valid Email ID</article>
                    <article class="text-danger mx-3" *ngIf="emailid.errors?.required && emailid.touched">Enter Email ID</article>
                      <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text p-3"><i class="fa fa-user"></i>
                                <span class="text-danger" *ngIf="emailid.errors?.required && emailid.untouched">*</span>
                              </span>
                          </div>
                          <input type="text" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #emailid="ngModel" [(ngModel)]="email" name="email" placeholder="Enter Your Email ID">
                          
                      </div>
                      
                      <article class="text-danger mx-3" *ngIf="pass.errors?.required && pass.touched">Enter password</article>
                      <div class="input-group form-group p-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text p-3"><i class="fa fa-key"></i>
                                <span class="text-danger" *ngIf="pass.errors?.required && pass.untouched">*</span>
                              </span>
                          </div>
                          <input type="password" class="form-control" required #pass="ngModel" [(ngModel)]="password" name="password" placeholder="Enter Your Password">
                          
                      </div>
                      
                      
                      <div class="form-group text-center mt-3">
                         <button type="button" [disabled]="userForm.invalid" (click)="validateStudent()" class="btn btn-success col-xl-6" >Login</button>
    
                      </div>
                      
                      
                  </form>
                  <!-- <div class="form-group text-center mt-3">
                         <a href="login"><button class="btn btn-success col-xl-6" >Login</button></a>
    
                      </div> -->
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a routerLink="/app-studentregister">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
              </div>
              
          </div>
      </div>
    </div>
</div>
