
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SMS Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/app-home">Home</a>
          </li>
           <li>
            <a class="nav-link" routerLink="/app-adminlogin">Admin</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" routerLink="/app-studentregister">Register for Course</a></li> -->
              <li><a class="dropdown-item" routerLink="/app-studentlogin">Student Login</a></li>
            </ul>
          </li>
          
          <li>  
            <a class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact us</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <article class="text-white w-100 pt-2">{{myDate | date}}</article>
          <input class="form-control me-2" type="search" placeholder="Search Courses" aria-label="Search">
          <button class="btn btn-success">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div id="carouselExampleControlsNoTouching" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/cimg1.jpg" class="w-100" alt="..." style="height: 390px;">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/cimg2.jpg" class="w-100" alt="..." style="height: 390px;">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/cimg3.jpg" class="w-100" alt="..." style="height: 390px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="courseDetailsModal" tabindex="-1" aria-labelledby="courseDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="courseDetailsModalLabel">{{courseForModal.courseName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col">
            <h6>Course Duration : {{courseForModal.course_duration_months}} month(s)</h6>
            COURSE DESCRIPTION IN PARAGRAPH to be DECIDED in FUTURE.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" routerLink="/app-studentregister/{{courseForModal.courseId}}" data-bs-dismiss="modal">Register</button>
        </div>
      </div>
    </div>
  </div>



<div class="text-center m-3">
    <h2 class="text-success">Courses Offered</h2>
</div>

<div class="text-center">
  <!-- <div class="col">
    <a>Offer Ending in : <h6 class="text-success" id="demo"></h6> </a>
    
    <button class="btn btn-success">Register this Course for Free</button>
  </div> -->

  <!-- <div *ngIf="isVisible" class="timer">
    <h4> Free Offer Ends </h4>
    <span id="days"> {{daysToDday}} </span>Day(s)
    <span id="hours"> {{hoursToDday}} </span>Hrs 
    <span id="minutes"> {{minutesToDday}} </span>Min
    <span id="seconds"> {{secondsToDday}} </span>S
</div> -->

</div>
<div class="row">
    <div class="col-xl-3 m-4" *ngFor="let c of courses" (click)="valueToModal(c)" data-bs-toggle="modal" data-bs-target="#courseDetailsModal" >
        <div class="card border-left-primary shadow h-100 py-2" >
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs text-success text-uppercase mb-1">
                            {{c.courseName}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="c.fee.feeAmount==0; then thenBlock;">Free Offer</div>
                        <ng-template #thenBlock>
                          <button hidden>timer {{startTimer()}}</button>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">Free Offer</div>
                        </ng-template>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="c.fee.feeAmount!=0">Rs. {{c.fee.feeAmount}}</div>
                        <div class="col" *ngIf="c.fee.feeAmount==0">
                          <span id="days"> {{daysToDday}} </span>Day(s)
                          <span id="hours"> {{hoursToDday}} </span>Hrs 
                          <span id="minutes"> {{minutesToDday}} </span>Min
                          <span id="seconds"> {{secondsToDday}} </span>S
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coffee fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="footer bg-success bg-gradient text-white text-center">
  
  <div class="row">
    <div class="col-xl-4">
      <h6>Project Team : </h6>
      <article>Saurabh, Rohith, Rachana,</article>
      <article>Ramalingeswara, Sasikiran</article>
    </div>
    <div class="col-xl-4">
      <h6>Contact Us :</h6>
      <article>Saurabh : saurabh123.2008@gmail.com</article>
      <article>Rohith : rohith@gmail.com</article>
      <article>Rachana : rachana@gmail.com</article>
    </div>
    <div class="col-xl-4">
      <h6>Visit Us On:</h6>
      <i class="fab fa-google fa-2x"></i>
    </div>
    
  </div>
  
</div>

<!-- <div class="row">
    <div class="col-xl-3 m-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs text-success text-uppercase mb-1">
                            Core Java</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coffee fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3 m-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs text-success text-uppercase mb-1">
                            SQL</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 m-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs text-success text-uppercase mb-1">
                            Spring MVC</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-code fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



